{% extends "layout.html" %}

{% block content %}

<style>
	body {
	  background-color: #000000;
	}

	.bg-custom-color {
    background-color: #282A3F;
  }
	</style>
	

	<div class="container-fluid" bg="black" >

		<div class="jumbotron bg-dark text-white mb-0 py-5" style="background-image: url('static/Frame 10905.png'); background-size: cover; background-position: center;">
			<br>
			<br>	
			<br>	
			<br>	
			<br>
			<br>
			<br>	
			<br>	
			<br>	
			<br>
			<br>
			<br>	
			<br>	
			<br>
			<br>
			<br>	
			<br>	
			<br>	
			<br>
			<br>
			<br>	
			<br>	
			<br>


			
		</div>

		<div class="row mt-5">
			<div class="col-md-6">
			</div>
			<div class="col-md-6">
			</div>
		  </div>
		<div class="row mt-5">

			<div class="col-md-4 mb-5">
				<div class="card bg-custom-color shadow-sm border-0 rounded-lg">
					<div class="card-body">
						<h2 class="card-title" style="color:rgb(240, 240, 246)">Secure Transactions</h2>
						<p class="card-text" style="color:rgb(240, 240, 246)">Our blockchain technology ensures that all transactions are secure and anonymous, providing unparalleled privacy and protection for our users.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-5">
				<div class="card bg-custom-color shadow-sm border-0 rounded-lg">
					<div class="card-body">
						<h2 class="card-title" style="color:rgb(240, 240, 246)">Faster Processing</h2>
						<p class="card-text" style="color:rgb(240, 240, 246)">With Enigma Coin, transactions are processed at lightning speed, allowing you to conduct your business quickly and efficiently.</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 mb-5">
				<div class="card bg-custom-color shadow-sm border-0 rounded-lg">
					<div class="card-body">
						<h2 class="card-title" style="color:rgb(240, 240, 246)">Easy to Use</h2>
						<p class="card-text" style="color:rgb(240, 240, 246)">Our user-friendly interface makes it easy for anyone to buy and sell Enigma Coin, regardless of their level of technical expertise.</p>
					</div>
				</div>
			</div>

		</div>

	</div>

{% endblock content %}


