{% extends "layout.html" %}
{% block content %}

<style>
	body {
            background-image: url('static/home.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-color: black;
        }
	.custom-button {
  background-color: #CA9654; 
  color: #000000; 
}
	</style>

	<h1 style="color:rgb(240, 240, 246)">Mine Blocks for Rewards</h1>
	<p style="color:rgb(240, 240, 246)">Current Mining Reward: 50 Enigma Coins </p>
	<h4 style="color:rgb(240, 240, 246)">Pending Transactions:</h4>
	<table class="table">
	  <thead class="thead-dark">
	    <th scope="col">#</th>
		      <th scope="col">From</th>
		      <th scope="col">To</th>
		      <th scope="col">Amount</th>
		      <th scope="col">Timestamp</th>
		      <th scope="col">Valid?</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for tx in blockchain.pendingTransactions %}
	    <tr>
	      <th scope="row" style="color:rgb(240, 240, 246)">{{loop.index0}}</th>
	      
	      <td class="text-truncate" style="max-width: 100px;">
	        <a style="color:rgb(240, 240, 246)">{{tx.sender}}</a>
	      </td>
	      <td class="text-truncate" style="max-width: 100px;">
	          <a style="color:rgb(240, 240, 246)">{{tx.reciever}}</a>
	      </td>
	      <td style="color:rgb(240, 240, 246)">
	        {{tx.amt}}
	      </td>
	      <td style="color:rgb(240, 240, 246)">
	        {{tx.time }}<br>
	      </td>
	      <td style="max-width: 40px;">
	      	{% if tx.isValidTransaction() %}
	        	<span style="color:rgb(240, 240, 246)">✓</span>
	        {%else%}
	        	<span style="color:rgb(240, 240, 246)">✗</span>
	        {%endif%}
	      </td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	{% if current_user.is_authenticated %}
		<div class=""> 
			<a href="{{url_for('mine', miner=current_user.username)}}"><button type="button" style="color:rgb(240, 240, 246)" class="btn btn-primary custom-button">Mine A New Block!</button></a>
		</div>
	{% else %}
		<div class=""> 
			<a href="{{url_for('login')}}"><button type="button" class="btn btn-info custom-button">Sign in to mine blocks!</button></a>
		</div>
	{% endif %}
{% endblock content %}
